body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: lightblue;
}
  
#wishlistLogo {
  height: 200px;
  width: 200px;
  outline: none;
  margin: 10px;
  border: 10px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

button {
  background-color:black;
  color: white
}

nav {
  align-items: center;
  display: flex;
  z-index: 1;
  height: 200px;
  margin-bottom: .5em;
  background-color: lightskyblue;
  color:white
}

nav a {
  display: inline-block;
  margin: 0.5em;
}


