body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: #175274;
  font-family: Gill Sans, sans-serif;
  font-size: larger;
  text-align: center;
  font-weight: bold; 
}

#navBarLink:hover{
  color: blue;
}

#navBarLink{
  color: #1f88c5;
}
nav {
  align-items: center;
  display: flex;
  z-index: 1;
  height: 200px;
  margin-bottom: .5em;
  background-color: lightskyblue;
  color:white;
  width: 100%;
}

nav a {
  display: inline-block;
  margin:20px;
  margin-top:150px;
}

#siteName{
  margin-top: -70px;
  height: 50px;
  font-size: 70px;
  text-shadow: 0 0 4px white,
              0 0 6px black;
}
#wishlistLogo {
  height: 200px;
  width: 200px;
  outline: none;
  margin: 10px;
  border: 10px;
}

a {
  text-decoration: none;
  color: #1f88c5;
}

label {
  display: block;
}

button {
  font-size: medium;
  font-weight: bold;
  background-color: lightblue;
  height: 55px;
  width: 230px;
  margin: 10px;
  outline: none;
  border: 5px solid white;
  border-radius: 10px 300px;;
  box-shadow: 0 0 4px white,
              0 0 6px black;
  font-family: Gill Sans, sans-serif;
  color: #1f88c5
}

button:active {
  position: relative;
  top: 3px;
}

button:hover {
  background-color: #175274;
}

#pageTitles {
  color: #499fd1;
}

form div {
  margin: 10px;
}

img {
  height: 200px;
  width: 200px;
}

.items-wishlist {
  display: inline-table;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
  width: 18rem;
  margin: 0.5rem;
  padding: 1.2rem;
}

